<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
  <% if header == true %>
    <div class="navbar-brand">Gyakuten</div>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav4">
    <% if header == true %>
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <%= render 'layouts/link', { links: ['テキスト教材'] } %> 
          <li class="nav-item nav-link"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "pr-3" %></li>
        </ul>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-item nav-link"><%= link_to 'ログイン', new_user_session_path %></li>
        </ul>
      <% end %>
    <% else %>
      <ul class="navbar-nav m-auto">
        <%= render 'layouts/link', { links: ['教材一覧', 'ブログ', 'YouTube'] } %> 
      </ul>
    <% end %>
  </div>
  <% if header == true %>
    <%= yield :search %>
  <% end %>
</nav>
