<!DOCTYPE html>
<html>
  <head>
    <title>JointDev0318</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
<<<<<<< HEAD
        <div style="height: 100%;">
          <%= yield %>
        </div>
=======
      <%# ヘッダー %>
      <header class="mb-2">  
        <%= render 'layouts/nav', { header: true} %>
      </header>
      
      <div class="container">
        <%# Flash messages %>
        <div class="text-center">
          <%= render 'layouts/flash_messages' %>
        </div>
        
        <%= yield %>
      </div>

      <%# フッター %>
      <footer>
        <%= render 'layouts/nav', { header: false } %>
      </footer>
>>>>>>> master
    </div>
  </body>
</html>
